*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: #ecf0f3;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aae0c5;
}
.calcu{
    box-shadow: 6px 6px 6px  #fff,
                6px 6px 6px  rgba(0,0,0,.16);
     border-radius: 20px;
     padding: 15px;
     display: grid;
     grid-template-columns: repeat(4,66px);           
}
input{
    grid-column: span 4;
    height: 65px;
    width: 255px;
    box-shadow: inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    border: 1px solid black;
    border-radius: 30px;
    color: rgb(26,25,25);
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 20px;
    
    
}



button {
    box-shadow: inset 6px 6px 6px #fff, 6px 6px 13px rgb(0 0 0 / 16%);
    background-color: #ecf0f3;

    border: 1px solid black;
    width: 63px;
    height: 67px;
 
    font-weight: bold;
    font-size: 40px;
    margin-top: 1px;

   
}
.equel{
    width: 128px;
    
}
button:hover{
    background-color: rgb(213, 220, 226);
}
button, input, optgroup, select, textarea {
    margin: 1px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
